.catagory-holder,.product-holder{
    display: flex block;
    margin-left: auto;
    margin: auto;
    margin-bottom: 5vh;
    margin-top: 5vh;
    align-items: center;
    justify-content: space-around;
    background-color: beige;
    
  }
  .catagory-holder{
    width: 80%;
    height: 20vh;
  
  }
  .product-holder{
    width: 80%;
    height: 12vh;
    
  }
  button{
    height: 7vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .butt{
    margin-left: auto;
    margin-right: auto;
  }
  h3:hover{
    color: brown;
    cursor: pointer;
  }